<div class="container text-center">
    <h1>About GreenMark</h1>
    <p>Howdy and Welcome. GreenMark - The Ecolution is an online platform focused on nature and environment. With passion and a critical eye, we publish post, articles and other content on today's and everyday green topic bearing in mind that environmental solutions are usually hard to find and easy to attack. Even so, solutions are needed, both on large as well as small scale. We do have the data, now we need the action. What's your Green Mark on the world? Let's think, talk and act for the environment to find efficient and practical environmental solutions and continue the environmental revolution.</p>
</div>