  
      <div class="other">
<p id="notice"><%= notice %></p>

<h1>Posts</h1>


<%= link_to 'New Post', new_post_path %>
    </div>    
    <div class="blog"> 
        <div class="top">
            <h1>Latest Post</h1>
        </div>
        <h1 class="title">Less Is More — Reducing Consumerism To Save Nature</h1>
        <p= class="metadata">Author: Mark Miller, <%= Time.now %></p>
        
        <p class="text">Recently, I got rid of approximately 15 bags of clothes, books, games, house items, old documents and school notes. I did not just throw them away: I either brought them to secondhand markets and thrift shops or gave them to friends and charity organizations like Caritas or brought them, eventually, to recycling centers. I could not believe how difficult it was to find people willing to reuse those objects. Especially since a lot of them were still in very good condition. Looking for new owners was a time-consuming operation but I really felt better afterwards: I knew that those items were not just waste and could be still useful to someone. </p>
        <p class="text">To be honest, in the process of tiding up I was inspired by the instructions of this terrific book.</p>
        <img class="blogimage" src="images/Blogpost1/picture1.png"> 
        <img class="blogimage" src="images/Blogpost1/picture3.png"> 
    
        
        <p class="text">This masterpiece has strongly altered consolidated habits of my life. Yes, I really mean it. I used to be one of those people that has troubles in throwing away stuff. I would rather store it. Now, I am different. Marie Kondo used the right words to convince me that my attitude was wrong: Archiving thousands of stuffs and struggling to find the right place where to keep them, is just a way to postpone the act of deleting. In our daily life, we should apply two important buttons as we do with our email accounts: archive and delete. However, the delete button should be used more often as we should conserve only “what makes our heart beat”.</p>
        <p class="text">Understanding that we can live much happier without many objects around us is crucial to liberate ourselves from superfluous objects and, instead, start fighting against consumerism. This belief will help us do more rational shopping, rather than allowing marketing to persuade us. To do so, we should bear in mind the following questions when shopping: “Do I really need that? Will I really love that item? How often will I use it? Will it make me truly happy?”</p>
        <p class="text">What is happiness? Unfortunately, recent studies have shown that happiness is a state of joy, which is nowadays not only related to what we own, but also what we own compared to others. Meanwhile we try to change our selfish human psyche, we should adopt a temporary quick solution: Let us think that the less belongings we have around, the more freedom we have. It may sound paradoxical for some, but it will grant us more freedom than to those that stick to consumerism.</p>
        <p class="text">Marie Kondo was not the only person that pushed me towards minimalism. As a backpacker, I understand the importance of traveling light. This realization became even more intense three weeks ago, when I travelled to Cologne (Germany) together with four pieces of luggage. Insane. Anyhow, here is the second character: Ryan Bingham.</p>
        
        <p class="text">Now I do not 100% agree with the reflections of Ryan Bingham (alias George Clooney) on the meaning of life, but his explanation of life using the backpack similitude is great. What is really important in our life? Are we giving enough attention, time, money, energy, effort to those things that really matter to us? Or are we more disturbed by all the thousands of irrelevant things that surround us? Maybe we should start filtering that noise.</p>
        <p class="text">The motto “Less is more” was spread throughout the world thanks to the famous German-American architect Ludwig Mies van der Rohe. In this sense, art can help us elaborate on the beauty of having less belongings but of higher value. This implies having only few objects but of excellent value, minimalist items but efficiently designed, tidy rooms instead of unusable spaces, cleaned-up email accounts instead of chaotic and spam-full screens, ordered lives and focused minds. With this interior order, we can manage daily stresses, inputs, disordered activities and emergencies much better. One could argue that this way of living comes from a brutal engineer’s thought process and it constrains life to a matter of duties, to-do lists and categorizations. This, however, is not true. Giving that our life is a journey and the sense of the journey is the journey itself (excursus), we consciously or unconsciously know that we also want to reach some goals during our journey. These goals can be better achieved with a free mind and an organized plan: here is exactly when Mrs. Kondo can come in handy.</p>
        <p class="text">Ryan Bingham’s “live-in-the-moment” philosophy is not just a way to avoid stress and forget all worries (hakuna matata). It is about thinking that our thoughts, feelings, words and actions of the past, regardless their relevance and intensity they had, are less important that the ones of today. This is totally coherent with the advises of Mrs. Kondo and that is what really helped me get rid of a lot stuff. We must honor our memories, our habits and our great achievements of the past but we must remember that they are only important because they are the things that made us become what we are now. What we live in the present is far more important of what we lived yesterday. There is only one verse in this life and therefore we must follow it.</p>


        <figure style="text-align: center;">
            <img class="blogimage" src="images/Blogpost1/picture2.png"> 
            <figcaption>Delete and archive stuff to help nature as nature acts in the same way: Panta Rei, everything changes.</figcaption>
        </figure>
        <p class="text">PS: Another great man talked about minimalism.</p>
        <p class="text">(Luke 18:22)<br>
        “All these I have kept since I was a boy,” he said. <br>
        When Jesus heard this, he said to him, “You still lack one thing. Sell everything you have and give to the poor, and you will have treasure in heaven. Then come, follow me.”</p>
            
    </div>
    
    <div class="other">
            <h1>Blogentry 213</h1>
    </div>    
