<div class='home-callout text-center container-fluid'>
<h1>Welcome to GreenMark</h1>
<h3>Leading projects concerning our planet!</h3>
</div>

<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, voluptate aut natus qui ipsam rerum hic enim accusantium doloremque
        ut consequatur optio perferendis excepturi quaerat numquam. Rem voluptatem autem ut.</p>
    
           <p>
          <%= link_to "About", about_path %>about</p>
</div>