/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
    @import "font-awesome-sprockets";
    @import "font-awesome";
    
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
nav, .home-callout {
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar{
    border: none;
    font-family: 'cursive';
    font-weight: 150%;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-default {
    border: none;
    color: white;
    background-color: transparent;
    margin: auto, 0;
    &:hover, &:active, &:target, &:link, &:lang, &:enabled, &:focus{
        background: rgba(168, 224, 99, 0.6)
    }
}

.open > .dropdown-toggle.btn-default:hover, .open>.dropdown-toggle.btn-default:focus, .btn-default.active, .btn-default:active, .btn-default:hover, .btn-default:visited {
    color: white;
    background: rgba(168, 224, 99, 0.6)
}

a, a:hover, a:focus{
    color: white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  
  &:hover, &:focus {
    background-color: #a8e063;
  }
}

.navbar-brand {
    font-family: 'Open-sans', sans-serif;
    font-weight: 800;
    font-size: 120%;
}
.home-callout {
    color: white;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 50px;
} 
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}
.navbar-default .navbar-nav > li:hover {
    background: rgba(168, 224, 99, 0.6)
    
}

.container .home {
    font-family: italic;
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.carousel-inner > .item > img,
        

.carousel-inner > .item > a > img {
    width: 80%;
    margin: auto;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
.container > .carousel-slide {
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
img {
     margin-top: 0px;   
}